<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Event</title>
<link rel="stylesheet" type="text/css"  th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
 <div th:include="navbar.html"></div>
 <div class = "container mt-5"> 
  	<table class="table table-striped">
  		<thead>
    		<tr>
      			<th scope="col">Name</th>
      			<th scope="col">Location</th>
      			<th scope="col">Date</th>
      			<th scope="col">Tickets</th>
      			<th scope="col">Price</th>
    		</tr>
  		</thead>
  		<tbody>
    		<tr>
      			<td> 
      	 			<a th:text="${event.name}"></a>
      			</td>
      			<td>
      				<a th:text="${event.location.name}"></a>
      			</td>
      			<td>
      				<a th:text="${event.date}"></a>
      			</td>
      			<td>
      				<a th:text="${event.tickets}"></a>
      			</td>
      			<td>
      				<a th:text="${event.price}"></a>
      			</td>
    		</tr>
  		</tbody>
	</table>
	
	<form  th:action = "@{/orders/order}" method = "POST" action="#">
  		<div class="form-group">
  			<input type="hidden" name="eventId" th:value="${event.id}">
<!--  			<input type="hidden" name="username" value="ivan20">-->
    		<label for="order">Order</label>
    		<input type="number" min="1" max="10" name = "tickets" class="form-control mb-3">
  		<button type="submit" class="btn btn-primary">order</button>
  		</div>
	</form>
  </div>
</body>
</html>