<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:include="navbar.html"></div>
<div class="container mt-5">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Events</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr th:each="event: ${listEvents}">
            <td>
                <a th:href="@{/events/{id}(id = ${event.id})}" th:text="${event.name}">Event Name </a>
            </td>
            <td>
                <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary pull-right" th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class="col-sm-1">
				<span th:each="i: ${#numbers.sequence(1,totalPages)}">
					<a th:if="${currentPage != i}" th:href="@{'/events/page/' + ${i}}">[[${i}]]</a>
					<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
				</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/events/page/' + ${currentPage + 1}}">Next</a>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/events/page/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>