<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Events</title>
<link rel="stylesheet" type="text/css"  th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body> 
  <div th:include="navbar.html"></div>
  <div class = "container mt-5"> 
  	<table class="table table-striped">
  		<thead>
    		<tr>
      			<th scope="col">Events</th>
      			<th scope="col"></th>
    		</tr>
  		</thead>
  		<tbody>
    		<tr>
      			<tr th:each="event: ${listEvents}">
      				<td> 
      	 				<a th:href="@{/events/{id}(id = ${event.id})}" th:text="${event.name}">Event Name </a>
      				</td>
      				<td>
      					<a  class = "btn btn-primary pull-right" th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
      				</td>
    			</tr>
  		</tbody>
	</table>
  </div>
</body>
</html>